---
import Layout from '~/layouts/PageLayout.astro';

import Img from '~/components/common/Img.astro';
import Content from '~/components/widgets/Content.astro';
import FloatImg from '~/components/common/FloatImg.astro';
import FloatIcon from '~/components/common/FloatIcon.astro';
import ApiService from '~/services/ApiService';
import CategoryList from '~/components/functional/CategoryList';

const metadata = {
  title: 'HGU',
  ignoreTitleTemplate: true,
};

const categoryData = await ApiService.getCategories();
const categories = categoryData.list[0].children;
console.log('cat', categories);

// const categories = [
//   {
//     id: 1,
//     name: 'Category 1',
//     description:
//       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque aperiam ratione dolorum praesentium rerum officiis esse, dicta eligendi accusamus recusandae ut reiciendis beatae explicabo numquam nisi facilis saepe sapiente?',
//     image: null,
//   },
//   {
//     id: 2,
//     name: 'Category 1',
//     description:
//       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque aperiam ratione dolorum praesentium rerum officiis esse, dicta eligendi accusamus recusandae ut reiciendis beatae explicabo numquam nisi facilis saepe sapiente?',
//     image: null,
//   },
//   {
//     id: 3,
//     name: 'Category 1',
//     description:
//       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque aperiam ratione dolorum praesentium rerum officiis esse, dicta eligendi accusamus recusandae ut reiciendis beatae explicabo numquam nisi facilis saepe sapiente?',
//     image: null,
//   },
//   {
//     id: 4,
//     name: 'Category 1',
//     description:
//       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque aperiam ratione dolorum praesentium rerum officiis esse, dicta eligendi accusamus recusandae ut reiciendis beatae explicabo numquam nisi facilis saepe sapiente?',
//     image: null,
//   },
//   {
//     id: 5,
//     name: 'Category 1',
//     description:
//       'Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque aperiam ratione dolorum praesentium rerum officiis esse, dicta eligendi accusamus recusandae ut reiciendis beatae explicabo numquam nisi facilis saepe sapiente?',
//     image: null,
//   },
// ];

const bannerKid = '~/assets/images/banner-kid-1.png';
const bottomShape = '~/assets/images/bottom.png';
const flyImg = '~/assets/images/fly.png';
const balloonsImg = '~/assets/images/balloons.png';
// const carImg = '~/assets/images/car.png';
---

<Layout metadata={metadata}>
  <div class="w-full banner-area h-auto">
    <div class="top-24 w-full" style="z-index: 3;">
      <div class="w-full mx-auto relative">
        <!-- bg opacity icons -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-outline icon-tabler-moon-stars inline absolute top-10 left-1/3 w-80 text-blue-300 -z-10"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path><path
            d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path><path d="M19 11h2m-1 -1v2"
          ></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-rainbow inline absolute bottom-0 -right-10 w-80 text-blue-300 -z-10"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M22 17c0 -5.523 -4.477 -10 -10 -10s-10 4.477 -10 10"></path><path d="M18 17a6 6 0 1 0 -12 0"></path><path
            d="M14 17a2 2 0 1 0 -4 0"></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-clover inline absolute -bottom-10 -left-10 w-80 text-blue-300 -z-10"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12.712 13.297l3.398 3.442a3.104 3.104 0 0 1 0 4.351a3.04 3.04 0 0 1 -4.036 .27l-.075 -.062l-.073 .062a3.04 3.04 0 0 1 -1.664 .634l-.203 .007a3.04 3.04 0 0 1 -2.17 -.91a3.104 3.104 0 0 1 .002 -4.354l3.397 -3.44a1 1 0 0 1 1.424 0m8.378 -5.407a3.04 3.04 0 0 1 .27 4.037l-.062 .073l.062 .075a3.04 3.04 0 0 1 .634 1.664l.007 .203a3.04 3.04 0 0 1 -.91 2.17a3.104 3.104 0 0 1 -4.354 -.002l-3.44 -3.397a1 1 0 0 1 0 -1.424l3.443 -3.399a3.104 3.104 0 0 1 4.351 0m-13.827 .002l3.44 3.397a1 1 0 0 1 0 1.424l-3.444 3.397a3.104 3.104 0 0 1 -4.351 0a3.04 3.04 0 0 1 -.27 -4.036l.062 -.075l-.062 -.073a3.04 3.04 0 0 1 -.634 -1.664l-.007 -.203c0 -.816 .328 -1.598 .91 -2.17a3.104 3.104 0 0 1 4.354 .002m6.678 -5.891a3.04 3.04 0 0 1 2.17 .91a3.104 3.104 0 0 1 -.002 4.354l-3.397 3.44a1 1 0 0 1 -1.424 0l-3.397 -3.444a3.104 3.104 0 0 1 0 -4.351a3.04 3.04 0 0 1 4.036 -.27l.073 .062l.075 -.062a3.04 3.04 0 0 1 1.664 -.634z"
          ></path></svg
        >
        <!-- bg opacity icons -->

        <!-- animate icons -->
        <FloatIcon src={flyImg} alt="App Store Image" class:list={'w-1 absolute animate-item-xlevel top-10 right-10'} />
        <FloatIcon
          src={balloonsImg}
          alt="Backpack Image"
          class:list={'w-1 absolute top-24 md:top-10 lg:top-20 xl:top-28 left-20 animate-item-ylevel '}
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-4chan absolute bottom-10 md:bottom-20 right-3 md:left-1/2 w-10 z-10 animate-wheel"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M14 11s6.054 -1.05 6 -4.5c-.038 -2.324 -2.485 -3.19 -3.016 -1.5c0 0 -.502 -2 -2.01 -2c-1.508 0 -2.984 3 -.974 8z"
          ></path><path
            d="M13.98 11s6.075 -1.05 6.02 -4.5c-.038 -2.324 -2.493 -3.19 -3.025 -1.5c0 0 -.505 -2 -2.017 -2c-1.513 0 -3 3 -.977 8z"
          ></path><path
            d="M13 13.98l.062 .309l.081 .35l.075 .29l.092 .328l.11 .358l.061 .188l.139 .392c.64 1.73 1.841 3.837 3.88 3.805c2.324 -.038 3.19 -2.493 1.5 -3.025l.148 -.045l.165 -.058a4.13 4.13 0 0 0 .098 -.039l.222 -.098c.586 -.28 1.367 -.832 1.367 -1.777c0 -1.513 -3 -3 -8 -.977z"
          ></path><path
            d="M10.02 13l-.309 .062l-.35 .081l-.29 .075l-.328 .092l-.358 .11l-.188 .061l-.392 .139c-1.73 .64 -3.837 1.84 -3.805 3.88c.038 2.324 2.493 3.19 3.025 1.5l.045 .148l.058 .165l.039 .098l.098 .222c.28 .586 .832 1.367 1.777 1.367c1.513 0 3 -3 .977 -8z"
          ></path><path
            d="M11 10.02l-.062 -.309l-.081 -.35l-.075 -.29l-.092 -.328l-.11 -.358l-.128 -.382l-.148 -.399c-.658 -1.687 -1.844 -3.634 -3.804 -3.604c-2.324 .038 -3.19 2.493 -1.5 3.025l-.148 .045l-.164 .058a4.13 4.13 0 0 0 -.1 .039l-.22 .098c-.588 .28 -1.368 .832 -1.368 1.777c0 1.513 3 3 8 .977z"
          ></path></svg
        >
        <!-- animate icons -->

        <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:mt-20">
          <div class="lg:pl-20 px-10 mt-32 md:mt-0 place-self-center">
            <span
              style="text-shadow: 2px 2px rgb(173, 116, 10);"
              class="text-orange-400 font-bold text-3xl sm:text-5xl block w-full drop-shadow-xl py-3 sm:py-5 md:py-8 main-heading-font"
              >Drawing Out the <span class="text-blue-950">"Genius"</span> <br />in Your Child
            </span>
            <div class="py-5 md:py-0">
              <span class="block text-gray-500">RIGHT BRAIN KIDS</span>
              <span class="block text-gray-500">Right Brain Potential Development</span>
              <span class="block text-gray-500"
                >The secret of Right Brain education and its ability to attain IQ scores of over 200</span
              >
            </div>

            <a
              href="/register"
              target="_blank"
              class="block sm:inline-block text-center px-3 py-2.5 rounded bg-primary-500 text-white drop-shadow-lg font-bold text-sm mt-2 lg:mt-6 mx-auto cursor-pointer hover:bg-primary-600"
              ><span style="text-shadow: 1px 1px rgb(214, 140, 1);">Enroll Now</span></a
            >
          </div>
          <div class="mt-10 md:mt-0 px-8 md:px-0 xl:px-20 md:pt-20">
            <Img src={bannerKid} alt="Banner Kids" class:list={''} />
          </div>
        </div>
      </div>
    </div>
    <FloatImg src={bottomShape} alt="App Store Image" class:list={'absolute -bottom-1 w-full left-0 z-10'} />
  </div>

  <div class="w-full my-10 px-5 relative" id="popular">
    <div class="slider xl:w-10/12 mx-auto py-10">
      <div class="lg:w-9/12 mx-auto mb-10">
        <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 main-heading-font">Our Programs</h3>
        <p class="text-center text-gray-400 text-base">
          Heguru Classes for Children provide courses for training the Whole Brain, which are divided into various
          programs by age group; Prenatal Education (for pregnant women), Infant & Toddler Classes and Preschool
          Classes.
        </p>
      </div>
      <div class="slides">
        <div class="max-w-sm px-3 slide">
          <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 parent-div relative">
            <a href="#">
              <img class="rounded-t-lg" style="transition: transform 0.8s ease;" src="/600x300.png" alt="" />
              <!-- <Img src={bannerImg} alt="App Store Image" class:list={'w-full rounded-lg border-red-300 border-2'} /> -->
            </a>
            <div class="p-5 pt-4 text-sm bg-white">
              <a href="/infant">
                <h5 class="text-gray-900 font-semibold text-lg tracking-tight">Infant & Toddler Class</h5>
                <p class="text-sm text-orange-600 font-semibold mb-2">6 months to 3.6 years old</p>
              </a>
              <span class="text-xs inline-block rounded mb-2 py-2 text-gray-500 italic"
                >Parents create mental connections with their children, fostering significant capacity for brain
                development.<br />
                မိဘများသည် မိိမ၏ကလေးများနှင့် စိတ်ပိုင်းဆိုင်ရာ ဆက်သွယ်မှုများ ပြုလုပ်ခြင်းဖြင့် ...
              </span>
              <a
                href="/infant"
                class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
                >Read More...</a
              >
            </div>
          </div>
        </div>
        <div class="max-w-sm px-3 slide">
          <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 parent-div relative">
            <a href="#">
              <img class="rounded-t-lg" style="transition: transform 0.8s ease;" src="/600x300.png" alt="" />
            </a>
            <div class="p-5 pt-4 text-sm bg-white">
              <a href="/preschool">
                <h5 class="text-gray-900 font-semibold text-lg tracking-tight">Preschool I Class</h5>
                <p class="text-sm text-orange-600 font-semibold mb-2">3.5 to 6 years old</p>
              </a>
              <span class="text-xs inline-block rounded mb-2 py-2 text-gray-500 italic"
                >Left-brain development begins in collaboration with right-brain development.<br />
                ဘက်ဦးနှောက်ဖွံဖြိုးမှုနှင့် ညာဖက်ဦးနှောက်ဖွံ့ဖြိုးမှုကို ပူးပေါင်းသင်ကြားခြင်းများ စတင်သည်။</span
              >
              <a
                href="/preschool"
                class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
                >Read More...</a
              >
            </div>
          </div>
        </div>
        <div class="max-w-sm px-3 slide">
          <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 parent-div relative">
            <a href="#">
              <img class="rounded-t-lg" style="transition: transform 0.8s ease;" src="/600x300.png" alt="" />
            </a>
            <div class="p-5 pt-4 text-sm bg-white">
              <a href="/preschool2">
                <h5 class="text-gray-900 font-semibold text-lg tracking-tight">Preschool II Class</h5>
                <p class="text-sm text-orange-600 font-semibold mb-2">5 to 6 years old</p>
              </a>
              <span class="text-xs inline-block rounded mb-2 py-2 text-gray-500 italic"
                >Left-brain development begins in collaboration with right-brain development.<br />
                ဘက်ဦးနှောက်ဖွံဖြိုးမှုနှင့် ညာဖက်ဦးနှောက်ဖွံ့ဖြိုးမှုကို ပူးပေါင်းသင်ကြားခြင်းများ စတင်သည်။</span
              >
              <a
                href="/preschool2"
                class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
                >Read More...</a
              >
            </div>
          </div>
        </div>
        <div class="max-w-sm px-3 slide">
          <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 parent-div relative">
            <a href="#">
              <img
                class="rounded-t-lg object-cover"
                style="transition: transform 0.8s ease;"
                src="/600x300.png"
                alt=""
              />
            </a>
            <div class="p-5 pt-4 text-sm bg-white">
              <a href="/prenatal">
                <h5 class="text-gray-900 font-semibold text-lg tracking-tight">Prenatal Class</h5>
                <p class="text-sm text-orange-600 font-semibold mb-2">From 4th month of pregnancy</p>
              </a>
              <span class="text-xs inline-block rounded mb-2 py-2 text-gray-500 italic"
                >Establishing communication with the baby in the womb deepens the bond between mother and child.<br />
                မိမိသန္ဓေသားနှင့် မိမိ၏ကြား ဆက်သွယ်ခြင်းသည် မိခင်နှင့် ကလေးကြား လေးနက်သောချစ်ခြင်းနှင့် သံယောဇဉ်ကို ပိုမို
                ခိုင်မာစေပါသည်။</span
              >
              <a
                href="/prenatal"
                class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
                >Read More...</a
              >
            </div>
          </div>
        </div>
        <div class="max-w-sm px-3 slide">
          <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 parent-div relative">
            <a href="#">
              <img
                class="rounded-t-lg object-cover"
                style="transition: transform 0.8s ease;"
                src="/600x300.png"
                alt=""
              />
            </a>
            <div class="p-5 pt-4 text-sm bg-white">
              <a href="/online">
                <h5 class="text-gray-900 font-semibold text-lg tracking-tight">Online Classes</h5>
                <p class="text-sm text-orange-600 font-semibold mb-2">Unlock Your Child's Full Potential from Home</p>
              </a>
              <span class="text-xs inline-block rounded mb-2 py-2 text-gray-500 italic"
                >At Heguru, we believe that every child has limitless potential. Our online classes bring the renowned
                Heguru Method directly to your home, offering engaging and effective brain development training.</span
              >
              <a
                href="/online"
                class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
                >Read More...</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Navigation buttons -->
      <button class="prev" onclick="prevSlide()">&#10094;</button>
      <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>

    <!-- bg opacity icons -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute top-0 left-1/3 w-10 text-orange-100 -z-10"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute bottom-10 left-10 w-10 text-orange-100 -z-10"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute top-24 right-20 w-10 text-orange-100 -z-10"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute bottom-0 left-1/2 w-10 text-orange-100 -z-10"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-assembly inline absolute bottom-32 -left-32 w-80 text-orange-50 -z-10"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"
      ></path><path
        d="M15.5 9.422c.312 .18 .503 .515 .5 .876v3.277c0 .364 -.197 .7 -.515 .877l-3 1.922a1 1 0 0 1 -.97 0l-3 -1.922a1 1 0 0 1 -.515 -.876v-3.278c0 -.364 .197 -.7 .514 -.877l3 -1.79c.311 -.174 .69 -.174 1 0l3 1.79h-.014z"
      ></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="icon icon-tabler icons-tabler-filled icon-tabler-clover absolute bottom-0 -right-0 w-80 text-orange-50 -z-10"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12.712 13.297l3.398 3.442a3.104 3.104 0 0 1 0 4.351a3.04 3.04 0 0 1 -4.036 .27l-.075 -.062l-.073 .062a3.04 3.04 0 0 1 -1.664 .634l-.203 .007a3.04 3.04 0 0 1 -2.17 -.91a3.104 3.104 0 0 1 .002 -4.354l3.397 -3.44a1 1 0 0 1 1.424 0m8.378 -5.407a3.04 3.04 0 0 1 .27 4.037l-.062 .073l.062 .075a3.04 3.04 0 0 1 .634 1.664l.007 .203a3.04 3.04 0 0 1 -.91 2.17a3.104 3.104 0 0 1 -4.354 -.002l-3.44 -3.397a1 1 0 0 1 0 -1.424l3.443 -3.399a3.104 3.104 0 0 1 4.351 0m-13.827 .002l3.44 3.397a1 1 0 0 1 0 1.424l-3.444 3.397a3.104 3.104 0 0 1 -4.351 0a3.04 3.04 0 0 1 -.27 -4.036l.062 -.075l-.062 -.073a3.04 3.04 0 0 1 -.634 -1.664l-.007 -.203c0 -.816 .328 -1.598 .91 -2.17a3.104 3.104 0 0 1 4.354 .002m6.678 -5.891a3.04 3.04 0 0 1 2.17 .91a3.104 3.104 0 0 1 -.002 4.354l-3.397 3.44a1 1 0 0 1 -1.424 0l-3.397 -3.444a3.104 3.104 0 0 1 0 -4.351a3.04 3.04 0 0 1 4.036 -.27l.073 .062l.075 -.062a3.04 3.04 0 0 1 1.664 -.634z"
      ></path></svg
    >
    <!-- bg opacity icons -->
  </div>

  <div class="w-full bg-gray-800 my-5 py-20 pb-32 relative">
    <!-- <HeroText
      tagline="Products"
      title="Our Products"
      subtitle="See the difference! The features of Heguru’s Classes for Children"
    /> -->
    <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 main-heading-font">Our Products</h3>
    <p class="text-center text-gray-200 text-base mb-20">See what parents are saying about Heguru.</p>
    <CategoryList categories={categories} client:only="react" />

    <FloatImg src={bottomShape} alt="App Store Image" class:list={'absolute -bottom-1 w-full left-0 z-10'} />

    <!-- bg opacity icons -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-4chan absolute top-32 left-20 w-10 text-orange-100 opacity-50 animate-wheel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M14 11s6.054 -1.05 6 -4.5c-.038 -2.324 -2.485 -3.19 -3.016 -1.5c0 0 -.502 -2 -2.01 -2c-1.508 0 -2.984 3 -.974 8z"
      ></path><path
        d="M13.98 11s6.075 -1.05 6.02 -4.5c-.038 -2.324 -2.493 -3.19 -3.025 -1.5c0 0 -.505 -2 -2.017 -2c-1.513 0 -3 3 -.977 8z"
      ></path><path
        d="M13 13.98l.062 .309l.081 .35l.075 .29l.092 .328l.11 .358l.061 .188l.139 .392c.64 1.73 1.841 3.837 3.88 3.805c2.324 -.038 3.19 -2.493 1.5 -3.025l.148 -.045l.165 -.058a4.13 4.13 0 0 0 .098 -.039l.222 -.098c.586 -.28 1.367 -.832 1.367 -1.777c0 -1.513 -3 -3 -8 -.977z"
      ></path><path
        d="M10.02 13l-.309 .062l-.35 .081l-.29 .075l-.328 .092l-.358 .11l-.188 .061l-.392 .139c-1.73 .64 -3.837 1.84 -3.805 3.88c.038 2.324 2.493 3.19 3.025 1.5l.045 .148l.058 .165l.039 .098l.098 .222c.28 .586 .832 1.367 1.777 1.367c1.513 0 3 -3 .977 -8z"
      ></path><path
        d="M11 10.02l-.062 -.309l-.081 -.35l-.075 -.29l-.092 -.328l-.11 -.358l-.128 -.382l-.148 -.399c-.658 -1.687 -1.844 -3.634 -3.804 -3.604c-2.324 .038 -3.19 2.493 -1.5 3.025l-.148 .045l-.164 .058a4.13 4.13 0 0 0 -.1 .039l-.22 .098c-.588 .28 -1.368 .832 -1.368 1.777c0 1.513 3 3 8 .977z"
      ></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute top-5 opacity-50 left-1/3 w-10 text-orange-200 animate-wheel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute bottom-10 left-10 w-10 text-orange-100 opacity-50 animate-wheel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute top-24 right-20 w-10 text-orange-100 opacity-50 animate-wheel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-asterisk absolute bottom-20 left-1/2 w-10 text-orange-100 opacity-50 animate-wheel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12l8 -4.5"></path><path d="M12 12v9"
      ></path><path d="M12 12l-8 -4.5"></path><path d="M12 12l8 4.5"></path><path d="M12 3v9"></path><path
        d="M12 12l-8 4.5"></path></svg
    >
    <!-- bg opacity icons -->
  </div>

  <div class="lg:w-9/12 mx-auto relative">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="icon icon-tabler icons-tabler-outline icon-tabler-moon-stars absolute bottom-0 -left-32 w-80 text-orange-100 -z-10"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path><path
        d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path><path d="M19 11h2m-1 -1v2"
      ></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="icon icon-tabler icons-tabler-filled icon-tabler-brightness-up absolute top-10 right-10 w-20 animate-wheel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M12 8a4 4 0 1 1 -3.995 4.2l-.005 -.2l.005 -.2a4 4 0 0 1 3.995 -3.8z"></path><path
        d="M12 2a1 1 0 0 1 .993 .883l.007 .117v2a1 1 0 0 1 -1.993 .117l-.007 -.117v-2a1 1 0 0 1 1 -1z"></path><path
        d="M17.693 4.893a1 1 0 0 1 1.497 1.32l-.083 .094l-1.4 1.4a1 1 0 0 1 -1.497 -1.32l.083 -.094l1.4 -1.4z"
      ></path><path d="M21 11a1 1 0 0 1 .117 1.993l-.117 .007h-2a1 1 0 0 1 -.117 -1.993l.117 -.007h2z"></path><path
        d="M16.293 16.293a1 1 0 0 1 1.32 -.083l.094 .083l1.4 1.4a1 1 0 0 1 -1.32 1.497l-.094 -.083l-1.4 -1.4a1 1 0 0 1 0 -1.414z"
      ></path><path d="M12 18a1 1 0 0 1 .993 .883l.007 .117v2a1 1 0 0 1 -1.993 .117l-.007 -.117v-2a1 1 0 0 1 1 -1z"
      ></path><path
        d="M6.293 16.293a1 1 0 0 1 1.497 1.32l-.083 .094l-1.4 1.4a1 1 0 0 1 -1.497 -1.32l.083 -.094l1.4 -1.4z"
      ></path><path d="M6 11a1 1 0 0 1 .117 1.993l-.117 .007h-2a1 1 0 0 1 -.117 -1.993l.117 -.007h2z"></path><path
        d="M4.893 4.893a1 1 0 0 1 1.32 -.083l.094 .083l1.4 1.4a1 1 0 0 1 -1.32 1.497l-.094 -.083l-1.4 -1.4a1 1 0 0 1 0 -1.414z"
      ></path></svg
    >

    <Content
      isReversed
      tagline=""
      title=""
      items={[]}
      image={{
        src: '/400x300.png',
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font">About Us</h3>
        <h3 class="ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font">
          Our History
        </h3>
        <h3 class="ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl main-heading-font">
          Mission & Vision
        </h3>
        <p class="ml-10 mt-10 text-base text-gray-500">
          We at Heguru aim to nurture people who can make meaningful contributions to the happiness and evolutionary
          development of human beings in the world.
        </p>
        <a href="/about"
          ><span
            class="ml-10 inline-block mt-10 px-5 py-2 bg-primary-500 rounded text-white text-sm font-semibold hover:bg-primary-700"
            >Read More</span
          ></a
        >
      </Fragment>
    </Content>
  </div>

  <div class="w-full bg-blue-50 py-20 relative">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-bluesky absolute top-32 left-20 w-10 text-orange-100 opacity-50 animate-item-triangle"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M6.335 5.144c-1.654 -1.199 -4.335 -2.127 -4.335 .826c0 .59 .35 4.953 .556 5.661c.713 2.463 3.13 2.75 5.444 2.369c-4.045 .665 -4.889 3.208 -2.667 5.41c1.03 1.018 1.913 1.59 2.667 1.59c2 0 3.134 -2.769 3.5 -3.5c.333 -.667 .5 -1.167 .5 -1.5c0 .333 .167 .833 .5 1.5c.366 .731 1.5 3.5 3.5 3.5c.754 0 1.637 -.571 2.667 -1.59c2.222 -2.203 1.378 -4.746 -2.667 -5.41c2.314 .38 4.73 .094 5.444 -2.369c.206 -.708 .556 -5.072 .556 -5.661c0 -2.953 -2.68 -2.025 -4.335 -.826c-2.293 1.662 -4.76 5.048 -5.665 6.856c-.905 -1.808 -3.372 -5.194 -5.665 -6.856z"
      ></path></svg
    >

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-snowflake absolute bottom-5 right-20 w-10 text-orange-100 opacity-50 animate-wheel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14 21v-5.5l4.5 2.5"></path><path
        d="M10 21v-5.5l-4.5 2.5"></path><path d="M3.5 14.5l4.5 -2.5l-4.5 -2.5"></path><path
        d="M20.5 9.5l-4.5 2.5l4.5 2.5"></path><path d="M10 3v5.5l-4.5 -2.5"></path><path d="M14 3v5.5l4.5 -2.5"
      ></path><path d="M12 11l1 1l-1 1l-1 -1z"></path></svg
    >

    <div class="lg:w-9/12 mx-auto mb-10">
      <h3 class="text-center font-bold text-3xl text-primary-500 mb-3 main-heading-font">Words from Parents</h3>
      <p class="text-center text-gray-400 text-base">See what parents are saying about Heguru.</p>
    </div>

    <div
      class="xl:w-10/12 md:w-full px-8 xl:px-0 mx-auto grid xl:grid-cols-3 md:grid-cols-3 gap-2 gap-y-10 place-items-center"
    >
      <iframe
        style=" border-radius: 5px;"
        class="w-full"
        height="315"
        src="https://www.youtube-nocookie.com/embed/21hmP6q10wQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
      <iframe
        style=" border-radius: 5px;"
        class="w-full"
        height="315"
        src="https://www.youtube-nocookie.com/embed/uAVztJem0pc"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
      <iframe
        style=" border-radius: 5px;"
        class="w-full"
        height="315"
        src="https://www.youtube-nocookie.com/embed/mQtOYzi-eEU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>

  <div class="w-full my-10 relative" id="popular">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-brand-telegram absolute top-10 left-1/3 w-10 text-orange-100 opacity-50 animate-item-xlevel"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"
      ></path></svg
    >

    <div class="lg:w-9/12 mx-auto">
      <h3 class="text-center font-bold text-3xl text-primary-500 main-heading-font">Contact Us</h3>
      <p class="text-center text-gray-400 text-base">We’re here to help and answer any question you might have.</p>

      <div class="w-full flex justify-center mt-10">
        <a href="/contact"
          ><span
            class="inline-block mx-auto px-5 py-2 bg-primary-500 rounded text-white text-sm font-semibold hover:bg-primary-700"
            >Contact Us</span
          ></a
        >
      </div>
    </div>
  </div>

  <script>
    let currentIndex = 0;

    function showSlide(index) {
      const slides = document.querySelector('.slides');
      let totalSlides = document.querySelectorAll('.slide').length / 2;
      const screenWidth = window.innerWidth;

      if (screenWidth < 768) {
        totalSlides = document.querySelectorAll('.slide').length;
      } else if (screenWidth >= 768 && screenWidth < 1200) {
        totalSlides = document.querySelectorAll('.slide').length / 2 + 1;
      }

      if (index >= totalSlides) {
        currentIndex = 0; // Loop back to the first slide
      } else if (index < 0) {
        currentIndex = totalSlides - 1; // Loop back to the last slide
      } else {
        currentIndex = index;
      }

      if (screenWidth < 768) {
        slides.style.transform = `translateX(-${currentIndex * 100}%)`;
      } else if (screenWidth >= 768 && screenWidth < 1200) {
        slides.style.transform = `translateX(-${currentIndex * 50}%)`;
      } else {
        slides.style.transform = `translateX(-${currentIndex * 36}%)`;
      }
    }

    function nextSlide() {
      showSlide(currentIndex + 1);
    }

    // function prevSlide() {
    //   showSlide(currentIndex - 1);
    // }

    setInterval(() => {
      nextSlide();
    }, 2000);
  </script>

  <style>
    .banner-area {
      /* height: 800px; */
      background-color: #ededede6;
      position: relative;
      overflow: hidden;
    }
    #popular .parent-div:hover .img-hover {
      transform: scale(1.5) rotate(10deg);
    }
    .parent-div:hover .img-hover {
      transform: scale(1.3);
    }
    /* .img-hover {
                                    transform .2s;
                                } */
    .parent-div {
      /* width: 320px; */
      /* height: 390px; */
      overflow: hidden;
      position: relative;
    }

    /* slider */

    .slider {
      position: relative;
      /* width: 100%; */
      /* width: 1000px; */
      overflow: hidden;
      margin: auto;
    }

    /* Slides container */
    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    /* Each slide */
    @media only screen and (max-width: 767px) {
      .slide {
        min-width: 100%;
        margin-right: 0px;
        border-radius: 5px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .slide {
        min-width: 50%;
        margin-right: 0px;
        border-radius: 5px;
      }
    }

    @media screen and (min-width: 1200px) {
      .slide {
        min-width: 33.3%;
        margin-right: 20px;
        border-radius: 5px;
      }
    }

    /* Navigation buttons */
    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

    .animate-wheel {
      animation: spin 4s linear infinite;
    }

    .animate-item-triangle {
      position: absolute;
      animation-name: triangle;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
    .animate-item-ylevel {
      position: absolute;
      animation-name: ylevel;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
    .animate-item-xlevel {
      position: absolute;
      animation-name: xlevel;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
        color: orange;
      }
      100% {
        transform: rotate(360deg);
        color: rgb(8, 77, 180);
      }
    }

    @keyframes triangle {
      0% {
        color: red;
        /* left: 20px;
            top: 20px; */
        transform: translateY(-30px);
      }
      25% {
        color: orange;
        /* left: 40px;
            top: 20px; */
        transform: translateX(-10px);
      }
      50% {
        color: blue;
        /* left: 40px;
            top: 40px; */
        transform: translateY(-30px);
      }
      75% {
        color: rgb(15, 214, 15);
        /* left: 20px;
            top: 40px; */
        transform: translateX(10px);
      }
      100% {
        color: red;
        /* left: 20px;
            top: 20px; */
        transform: translateY(-30px);
      }
    }
    @keyframes ylevel {
      0% {
        color: orange;
        /* left: 20px;
            top: 20px; */
        transform: translateY(-30px);
      }

      50% {
        color: blue;
        /* left: 40px;
            top: 40px; */
        transform: translateY(0px);
      }

      100% {
        color: orange;
        /* left: 20px;
            top: 20px; */
        transform: translateY(-30px);
      }
    }
    @keyframes xlevel {
      0% {
        color: red;
        /* left: 20px;
            top: 20px; */
        transform: translateX(-30px);
      }
      50% {
        color: blue;
        /* left: 40px;
            top: 40px; */
        transform: translateX(0px);
      }

      100% {
        color: red;
        /* left: 20px;
            top: 20px; */
        transform: translateX(-30px);
      }
    }
  </style>
</Layout>
